.recharts-wrapper {
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
	border: 1px solid #e6e6e6;
}

.line-chart-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
